.body{
  background-image: "https://raw.githubusercontent.com/Nico-Villarreal/Armas-Airsoft/master/img/fondo-2.webp";
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-size: 1.5rem;
  padding: 1.5rem;
}

